.c-request {
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-bottom: 0.7rem;

  &__info {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  &__extra {
    font-size: 0.8rem;
  }

  &__action {
    display: flex;
    gap: 1rem;
  }
}
