.c-search {
  background-color: var(--color-light);
  border-radius: var(--border-radius);
  padding: var(--search-padding);
  display: flex;
  gap: 1rem;

  &__icon {
  }

  &__input {
    font-size: 0.9rem;
    color: var(--color-dark);
    background-color: transparent;

    &::placeholder {
      color: var(--color-gray);
    }
  }
}
