.c-popup-notification {
  width: 30rem;
  box-shadow: 5px 5px 10px var(--color-primary);


  &-item {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  &-time {
    display: block;
  }

  &__all {
    display: block;
    text-align: center;

    &:hover {
      color: var(--color-primary);
    }
  }
}
