.c-avatar {
  width: 2.7rem;
  aspect-ratio: 1/1;
  height: 2.7rem;

  position: relative;
  border-radius: 50%;

  
  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  &__status {
    position: absolute;
    bottom: 0;
    right: 0;
  
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    border: 3px solid var(--color-white);
    background-color: red;

    &--success {
      background-color: var(--color-success);
    }
  }
}
