.c-icon {
  font-size: 1.4rem;
  position: relative;
  color: var(--color-gray);
  transition: color 0.3s ease;

  &__badge {
    background-color: var(--color-danger);
    color: white;
    font-size: 0.7rem;
    width: fit-content;
    padding: 0.1rem 0.4rem;
    position: absolute;
    top: -0.2rem;
    right: -0.3rem;
    border-radius: 0.8rem;
  }
}
