@use '../../bemit/tools.scss' as mx;

.c-navbar {
  height: var(--navbar-height);
  width: 100%;
  position: fixed;
  top: 0;
  background-color: var(--color-white);
  z-index: 10;
  box-shadow: 1px 1px 10px var(--color-gray);

  $b: &;

  &__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    @include mx.to(699px) {
      font-size: 1.5rem;
    }
  }

  #{$b}-search {
    @include mx.to(992px) {
      display: none;
    }

    &__input {
      width: 30vw;
    }
  }

  #{$b}-icon {
    cursor: pointer;
    border-radius: 50%;

    &__badge {
      padding: 0.05rem 0.2rem;
    }
  }

  &__list {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  &__item {
    position: relative;
    border-radius: 50%;

    &--active {
      background-color: var(--color-light);
    }
  }

  &__profile {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
  }
}
